<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Subscribe to our Newsletter</title>

  <link rel="stylesheet" href="/styles.css">
</head>
<body>

  <div class="container text-center">

    <h1 class="my-5">
      Nodeletter
    </h1>
  
    <h2>
      Fique por dentro das novidades do Node.js!
    </h2>
  
    <p class="my-4">
      Deixe seu email aqui embaixo e nós te enviaremos toda semana um compilado das coisas mais legais que rolaram no mundo do Node!
    </p>
  
    <form method="post">
  
      <div class="row justify-content-center">
        <div class="col col-auto mt-2">
          <input
            class="form-control form-control-lg"
            type="email"
            name="email"
            id="email"
            placeholder="Diz aí o seu e-mail principal"
            required
          />
        </div>

        <div class="col col-auto mt-2">
          <button class="btn btn-primary btn-lg" type="submit">
            Me Inscrever
          </button>
        </div>
      </div>
  
    </form>

  </div>

</body>
</html>